@model List<CurriculoViewModel>;

<h2>Listagem de Currículos</h2>
<br />


<table class="table table-striped table-responsive">
    <tr>
        <th>Cpf</th>
        <th>Nome</th>
        <th>Endereco</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>PretensaoSalarial</th>
        <th>CargoPretendido</th>
        <th>FormacaoAcademica1</th>
        <th>FormacaoAcademica2</th>
        <th>FormacaoAcademica3</th>
        <th>FormacaoAcademica4</th>
        <th>FormacaoAcademica5</th>
        <th>Experiencia1</th>
        <th>Experiencia2</th>
        <th>Experiencia3</th>
        <th>Idiomas</th>
    </tr>


    @foreach (var cv in Model)
    {
        <tr>
            <td> @cv.Cpf </td>
            <td> @cv.Nome </td>
            <td> @cv.Endereco </td>
            <td> @cv.Telefone </td>
            <td> @cv.Email </td>
            <td> @cv.PretensaoSalarial </td>
            <td> @cv.CargoPretendido </td>
            <td> @cv.FormacaoAcademica1 </td>
            <td> @cv.FormacaoAcademica2 </td>
            <td> @cv.FormacaoAcademica3 </td>
            <td> @cv.FormacaoAcademica4 </td>
            <td> @cv.FormacaoAcademica5 </td>
            <td> @cv.Experiencia1 </td>
            <td> @cv.Experiencia2 </td>
            <td> @cv.Experiencia3 </td>
            <td> @cv.Idiomas </td>
        </tr>
    }

</table>